<div class="container justify-content-center d-flex align-items-center">
<div class= "sign-form p-4">

    <h2>Rejoignez-nous</h2>
    <br>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
      <%= f.input :fullname,
                    label: false,
                    placeholder: 'Nom complet',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "fullname" }%>
      <%= f.input :city,
                    label: false,
                    placeholder: 'Ville',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "city" }%>
      <%= f.input :description,
                    label: false,
                    placeholder: 'Décrivez-vous',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Description" }%>
        <%= f.input :email,
                    label: false,
                    placeholder: 'E-mail',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "E-mail" }%>
        <%= f.input :password,
                    label: false,
                    placeholder: 'Mot de passe',
                    required: true,
                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: false,
                    placeholder: 'Confirmation du mot de passe',
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "S'inscrire", class: "btn btn-ghost"%>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
