<h2><%= @user.fullname %></h2>
<%= @user.city %>
<%= @user.description %>
<%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>


<div>
    Les missions auxquelles je suis inscrit(e):
    <% @missions.each do |mission| %>
      <p><%= mission.title %></p>
    <% end %>
</div>
