<h2><%= @user.fullname %></h2>
<%= @user.city %>
<%= @user.description %>
  <% if @user.photo.attached? %>
    <%=cl_image_tag @user.photo.key, :transformation=>[{height: 160, width: 160, crop: :fill, radius: 40}]%>
      

  <% else %>
    <%= image_tag "photo-avatar-profil.png", class: "avatar-large" %>

  <% end %>

  <% if policy(@user).edit? %>
    <%= link_to "Modifier le profil", edit_user_registration_path(@user), class: "btn btn-ghost"  %>
  <% end %>
 



<div>
    Les missions auxquelles je suis inscrit(e):
    <% @missions.each do |mission| %>
      <p><%= mission.title %></p>
    <% end %>
</div>

