<div class = "d-flex justify-content-between mt-5">
  <div>
    <h1> <%= @mission.title.capitalize  %></h1>

      <p class= "font-weight-bold ">  <i class="fas fa-map-marker-alt"></i> Localisation: </p><p><%= @mission.location.capitalize %></p>
      <p class= "font-weight-bold "><i class="far fa-clock"></i> Date: </p> <p><%= @mission.start_time %></p>
  </div>
  <div >
    <p>Organisé par : </p>
    <div class = "avatar-large" >
    <%= cl_image_tag @mission.user.photo.key, :transformation=>[{:width=>150, :height=>150, :gravity=>"face", :crop=>"thumb"},
  {:radius=>100}]%>
    </div>
  </div>
</div>


<div>
  <% if @mission.photo.attached? %>
    <%= cl_image_tag @mission.photo.key, height: 500, width: 150, crop: :fill %>
  <% else %>
    <%= cl_image_tag("jcflwedvuuwwkihvec2k", width: 500, height: 150, crop: :thumb, gravity: :face) %>
  <% end %>
    <div>
      <p class = "mt-3 font-weight-bold "> Description : </p> <br>
      <p><%= @mission.description.capitalize %></p> <br>
   </div>
</div>
<div>

  <% if @mission.quota %>
   <p>Pour que cette mission soit un succès, nous avons besoin de <%= @mission.quota %> bénévoles</p>
   <%= "Participants: #{@mission.participations.count} / #{@mission.quota}" %> <br> <br>
  <% end %>

<% @mission.users.each do |user| %>
  <%= cl_image_tag user.photo.key, :transformation=>[{:width=>120, :height=>120, :gravity=>"face", :crop=>"thumb"},
  {:radius=>100}]%>
<% end %> <br>

</div>

<div class = "d-flex justify-content-between mt-5">
  <%= link_to "RETOUR", missions_path, class: "btn btn-ghost" %>
  <% if @mission.users.include?(current_user) %>
    <%= link_to "SE DESINSCRIRE", mission_participation_path(@mission), method: :delete, class: "btn btn-ghost" %>
  <% else %>
    <%= link_to "PARTICIPER", mission_participations_path(@mission), method: "post", class: "btn btn-ghost"  %>
  <% end %>
</div>
